*.dcu
sources/__history/
sources/DisciplesRL.dproj.local
*.ppu
*.o
*.a
sources/backup/
sources/lib/
/sources/*.stat
/*.exe
sources/Forms/backup/
sources/Scenes/backup/
sources/Scenes/__history/
/sources/Forms/__history
/sources/Game/__history
/*.txt
/sources/*.dres
/temp
