*.dcu
*.local
*.ppu
*.o
*.a
sources/backup/
sources/lib/
/sources/*.stat
/*.exe
sources/Forms/backup/
sources/Scenes/backup/
__history
__recovery
Win32
/*.txt
/sources/*.dres
/temp
/sources/*.local
/sources/*.identcache
/resources/highscores.json
